<div style="display: flex; justify-content: center;">
  
  <div class="outer-container">
    <h1 style="color: white; text-align: center; ">Add your Task</h1>
    <div class="input-add">
      <input  #addtask type="text" placeholder="Add Task">
      <button (click)="newtask(addtask.value)" id="newtask">+</button>
    </div>
      <div class="removeall" *ngIf="tasks.length >=1">
        <button (click)="removeall()" >Remove All</button>
      </div>
        <div class="allnotes">
          <div class="notes-card" *ngFor="let item of tasks">
            <p>{{item.title}}</p>
            <button (click)="removetask(item.id)"   >x</button>
          </div>
  
        
  
  </div>
</div>